/* .navbar .navbar-brand{

    color: #E50914;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
    color: #E50914;
}
.navbar{
    background-color: #000000;
} */

/* Styles for transparent navbar */




.navbar-transparent {
    background-color: transparent !important;
  }
  
  /* Styles for dark navbar */
  .navbar-dark {
    background-color: #000000 !important;
  }
  
  /* Styles for red navbar items in dark mode */
/* Styles for transparent navbar */
.navbar-transparent {
    background-color: transparent !important;
  }
  
  /* Styles for dark navbar */
  .navbar-dark {
    background-color: #000000 !important;
  }
  
  /* Styles for navbar items (maintain color #E50914) */
  .navbar-nav .nav-link,
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link:hover {
    color: #E50914 !important;
    font-weight: bold;
    font-size: 20px;

    
  }

  /* Styles for Sign In and Sign Up buttons */
.btn-red {
    background-color: #E50914;
    color: #fff;
  }
  
  .btn-black {
    background-color: #000;
    color: #fff;
  }
  
  /* Hover effect for buttons */
  .btn-red:hover,
  .btn-black:hover {
    opacity: 0.8;
  }
  
  
  
  